{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}

{% block content %}
    <div><h3>Home Page , Welcome</h3></div>
    {% if user.role == 'FA' %}
        <p>hello {{ user.email }}({{ user.role }})</p>
        <a href="http://127.0.0.1:8000/order/api/create/">create new order</a>
        <div>
            <p>my orders</p><br>
            {% for order in user.orders.all %}
                {{ order.grain_type }}
                {{ order.quantity }}
                {{ order.status }}
                <a href="http://127.0.0.1:8000/order/api/my-orders/{{ order.id }}/" class="btn btn-warning">Edit</a>
                <hr>
                <br>
            {% endfor %}

        </div>
    {% elif user.role == 'MA' %}
        <div>
            <p>hello {{ user.email }}({{ user.role }})</p>
            <h4><a href="http://127.0.0.1:8000/order/api/all/1/">List Of All Orders</a></h4>
            <hr>
            {% for order in orders %}
                farmer : {{ order.farmer }} <br>
                {% if order.status == 'PE' %}
                    <p>status : pending</p>
                {% elif order.status == 'AP' %}
                    <p>status : approved</p>
                {% endif %}
                <a href="http://127.0.0.1:8000/order/api/all/{{ order.id }}/" class="btn btn-warning">Edit</a>
                <hr>
                <br>
            {% endfor %}

        </div>
    {% endif %}

{% endblock %}