{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}

{% block content %}
    <div><h3>Home Page , Welcome</h3></div>
    {% if user.role == 'Farmer' %}
        <a href="http://127.0.0.1:8000/order/api/create/">create new order</a>
    {% else %}
        <div>
            <h4>List Of All Orders</h4>
            <hr>
            {% for order in orders %}
                {{ order.farmer }}
                {{ order.status }}
                <br>
            {% endfor %}

        </div>
    {% endif %}

{% endblock %}